.attraction__block {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.attraction__list {
	display: grid;
	
	gap: 20px;
}

.attraction {
	display: grid;
}

.attraction__item {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	text-decoration-line: underline;
}